html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.logo {
  display: block;
  margin-bottom: 50px;
  /* padding-bottom: 50px; */
}

.link {
  display: block;
  margin-bottom: 50px;
}

.link a {
  display: inline-block;
  padding: 24px 49px;
}

.link a:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

p {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;

}

h1 {
  margin-bottom: 40px;
}

.subtitle {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;

}

.subtitle p {
  width: 692px;
  padding-bottom: 10px;
}

.subtitle:not(:last-child) {
  margin-bottom: 40px;
}


h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

ul {
  padding-left: 15px;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

img:not(.image) {
  margin-bottom: 40px;
}

figure {
  display: inline-block;
  margin-bottom: 40px;
  margin-left: 0px;  /*Применил этот стиль, пптому что изображение было с отступом слева. */
  width: 872px;
}
